.custom-button1 {
  background-color: rgb(205, 125, 218);
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.custom-button1:hover {
  background-color: #87ceeb;
}

ul {
  list-style: none;
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust the height to your preference */
}
